---
repos:

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-json
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.2
      hooks:
          - id: yamlfmt

    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
          - id: black
            language_version: python3 # Should be a command that runs python3.6+

    - repo: https://github.com/PyCQA/flake8
      rev: 5.0.4
      hooks:
          - id: flake8
            args: [--count, --show-source, --statistics]
            additional_dependencies:
                - flake8-bugbear==22.7.1
            exclude: widget_bandsplot/__init__.py

    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
          - id: isort
            args: [--profile, black, --filter-files]

    - repo: https://github.com/asottile/setup-cfg-fmt
      rev: v2.0.0
      hooks:
          - id: setup-cfg-fmt

    - repo: https://github.com/sirosen/check-jsonschema
      rev: 0.17.1
      hooks:
          - id: check-github-workflows
          - id: check-jsonschema
            files: ^examples/data/*\_dos\.json$
            args: [--schemafile, widget_bandsplot/schemas/pdos.json]
