h3 {
    text-align: center;
    background-color: red;
}

.bands-plot {
    width: 60%;
    height: 450px;
    float: left;
}

.bands-plot-single {
    width: 70%;
    height: 450px;
}

.dos-plot {
    width: 40%;
    height: 450px;
    float: right;
}

.dos-plot-single {
    width: 95%;
    height: 300px;
}

.all-widget {
    width: 100%;
}

.span-label {
    width: 10%;
    font-size: large;
    font-weight: bold;
}

.bands-input {
    width: 60%;
    font-size: large;
    font-size: bold;
}

.button {
    border-radius: 6px;
    border-color: #4285F4;
    background-color: #4285F4;
    color: white;
    margin: 5px;
    height: 28px;
    font-size: large;
}


.button-white {
    border-radius: 6px;
    border-color: #4285F4;
    background-color: white;
    color: #4285F4;
    margin: 5px;
    height: 28px;
    font-size: large;
}